@keyframes glideRight {
    0% {
        opacity: 1;
        transform: translateX(0rem) rotate(-90deg) scale(1.25);
    }
    50% {
        opacity: 0;
        transform: translateX(1rem) rotate(-90deg) scale(1.25);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem) rotate(-90deg) scale(1.25);
    }
}

@keyframes glideDown {
    0% {
        opacity: 1;
        transform: translateY(0rem) scale(1.25);
    }
    50% {
        opacity: 0;
        transform: translateY(1rem) scale(1.25);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem) scale(1.25);
    }
}