@import 'variables';


// Viewports
@mixin mobile {
    @media screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin desktopAvg {
    @media screen and (min-width: $desktopAvg) {
        @content;
    }
}

@mixin desktopLg {
    @media screen and (min-width: $desktopLg) {
        @content;
    }
}

// Styles

@mixin pseudo-default {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin margins {
    margin: 2rem 1.5rem;
}