// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$desktopAvg: 1280px;
$desktopLg: 1440px;

// $primary-color: #323232;
$primary-color: #f4f4f4;
$background-color: #0a0909;
$primary-transluscent: #293746d4;
$primary-lt: #b8b7b4;
$secondary-color: #fafafa;
$translucent: #ffffffdb;
$shadow: 0px 0px 15px #fff;
$shadow-dk: 0px 0px 15px #000;

// Dark
